article {
    display: inline-flex;
    flex-direction: row;
    
}

#article-one{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    flex-direction: row;
    height: 100%;
    width: 50%;
    border: 1px solid red;
}

#article-two{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    flex-direction: row;
    height: 100%;
    width: 50%;
    border: 1px solid blue;
}